<!doctype html>
<html lang="en" xmlns:th=http://www.thymeleaf.org>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <title>Top navbar example · Bootstrap v5.1</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/navbar-static/">

    <!-- Bootstrap core CSS -->
    <link href="/docs/5.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="/docs/5.1/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
    <link rel="icon" href="/docs/5.1/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="/docs/5.1/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel="manifest" href="/docs/5.1/assets/img/favicons/manifest.json">
    <link rel="mask-icon" href="/docs/5.1/assets/img/favicons/safari-pinned-tab.svg" color="#7952b3">
    <link rel="icon" href="/docs/5.1/assets/img/favicons/favicon.ico">
    <meta name="theme-color" content="#7952b3">

    <style>
        .row > div {
            margin-top: 10px;
            padding: 20px;
            outline: 2px solid #ccc;
            outline-offset: -10px;
            -moz-outline-radius: 10px;
            -webkit-outline-radius: 10px;
        }

        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>


    <!-- Custom styles for this template -->
    <link href="navbar-top.css" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <div class="container">
        <button class="btn btn-outline-success d-flex"><a href="/">Home</a></button>

        <form th:action="@{/search}" method="post" class="d-flex">
            <input class="form-control me-2" th:name="searchTerm" type="search" placeholder="Search tracks"
                   required="required" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
    </div>
</nav>

<main class="container">
    <div class="bg-light p-5 rounded">
        <div class="row">
            <div class="col-md">
                <h1>Artists:</h1>
                <ul th:each="artist: ${artists}">
                    <li th:text="${artist.getArtistName()}"></li>
                </ul>
            </div>
            <div class="col-md">
                <h1>Genres:</h1>
                <ul th:each="genre: ${genres}">
                    <li th:text="${genre.getGenreName()}"></li>
                </ul>
            </div>
            <div class="col-md">
                <h1>Tracks:</h1>
                <ul th:each="track: ${tracks}">
                    <li th:text="${track.getName()}"></li>
                </ul>
            </div>
        </div>

    </div>
</main>

</body>
</html>
